<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aggarwalankur.testhttplibs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".volley.VolleyActivity"
            android:label="@string/title_activity_volley"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aggarwalankur.testhttplibs.MainActivity" />
        </activity>
        <activity
            android:name=".retrofit.RetrofitActivity"
            android:label="@string/title_activity_retrofit"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aggarwalankur.testhttplibs.MainActivity" />
        </activity>
        <activity
            android:name=".okhttp.OkHttpActivity"
            android:label="@string/title_activity_ok_http"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aggarwalankur.testhttplibs.MainActivity" />
        </activity>
    </application>

</manifest>